.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-nav-c{
  backdrop-filter: blur(6px);
  background: rgba(255, 255, 255, 0.103);

}

.bg-home{
  background-image: url("/public/img/background-home-desktop.jpg");
  background-color: #03132b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-destinos{
  background-image: url("/public/img/destinos/background-destination-desktop.jpg");
  background-color: #03132b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-tecnologia{
  background-image: url("/public/img/tecnologia/background-technology-desktop.jpg");
  background-color: #03132b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-tripulacion{
  background-image: url("/public/img/tripulacion/background-crew-desktop.jpg");
  background-color: #03132b;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:100%;
  border-top:1px solid rgb(77, 76, 76);
 }

 .circulo {
  width: 180px;
  height: 180px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
}
